@import url('https://fonts.googleapis.com/css2?family=Marcellus:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body, button {
  font-family: 'Marcellus', sans-serif;
  background-color: #f4f0ec;
  margin: 0;
}

input, textarea, button {
  font-family: 'Marcellus', sans-serif;
  font-size: 1rem;
  border-radius: 6px;
  border: 2px solid #d0c0b0;
}

a {
  text-decoration: none;
}

a[target="_blank"] {
  text-decoration: underline;
}

a, a:visited {
  color: #6060ff;
}

summary {
  color: #6060ff;
  cursor: pointer;
}

a:hover, summary:hover {
  color: #a0a0ff;
}

div, section, footer, img, video, form {
  border-radius: 6px;
}

.content {
  width: max(50%, 768px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media (max-width: 1023px) {
  .content {
    width: 100%;
  }
}

img {
  width: 100%;
}

section, form {
  padding: 1em;
  background: linear-gradient(#ffffffff, #ffffffff);
}

article>section, form, .two-panel, video {
  margin-bottom: 1em;
}

section>:first-child, section>p:first-of-type, form>:first-child {
  margin-top: 0;
}

footer {
  background: linear-gradient(#ffffffff, #ffffffff);
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
}

footer p {
  margin: 0 1em 1em;
  font-style: italic;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

nav {
  display: flex;
  gap: 2rem;
}

nav>a {
  font-size: 1.5em;
  display: flex;
}

nav>a, nav>a:visited, label {
  color: #806040;
}

nav>a:hover {
  color: #c0a080;
}

@media (max-width: 1023px) {
  header, nav {
    flex-direction: column;
    gap: 1rem;
  }
}

h1, h2 {
  font-weight: normal;
}

h1 {
  margin: 1rem 0 0;
  font-size: 3em;
  letter-spacing: 2px;
}

h2 {
  font-size: 2em;
  margin: 1rem auto 1rem;
}

details {
  display: inline;
}

details[open] {
  margin-top: 1em;
}

details[open]>summary {
  margin-bottom: 1em;
}

details ul {
  font-style: italic;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  margin-right: 1em;
  margin-bottom: 1em;
}

strong {
  font-weight: normal;
  text-shadow: 1px 0px black;
}

strong a {
  text-shadow: 1px 0px #a0a0ff;
}

.work-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work-header>:first-child {
  flex-basis: 100%;
  text-shadow: 1px 0px black;
}

.two-panel {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 1em;
}

.me-jpg {
  float: right;
  width: 30%;
  margin-left: 1rem;
}

form>* {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

form>p {
  font-style: italic;
}

form>div {
  display: flex;
  gap: 1em;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 1023px) {
  form>div>* {
    width: 100%;
  }
}

form>div>input {
  flex: 1;
}

form>label {
  margin-top: 1em;
  margin-bottom: 1em;
}

input, textarea {
  padding: 6px 12px;
}

button {
  border: none;
  background-color: #504030;
  color: #ffffff;
  margin: 1em 0 0 auto;
  padding: .5em;
  width: 33%;
  text-shadow: 1px 0px white;
  cursor: pointer;
}

button:hover, button:focus {
  background-color: #a08060;
}

/* nav */

.navdata {
  display: none;
}

main {
  position: relative;
  overflow: hidden;
}

main>div {
  width: 400%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0;
  position: relative;
  left: 0;
  transition: left 250ms linear;
}

.navdata:has(#work ~ :target) ~ .content #work-content,
.navdata:not(:has(#music:target)) ~ .content #music-content,
.navdata:not(:has(#bio:target)) ~ .content #bio-content,
.navdata:not(:has(#contact:target)) ~ .content #contact-content {
  height: 0;
}

.navdata:has(#music:target) ~ .content>main>div {
  left: -100%;
}

.navdata:has(#bio:target) ~ .content>main>div {
  left: -200%;
}

.navdata:has(#contact:target) ~ .content>main>div {
  left: -300%;
}

.navdata:has(#work:target) ~ .content #work-link,
.navdata:has(#music:target) ~ .content #music-link,
.navdata:has(#bio:target) ~ .content #bio-link,
.navdata:has(#contact:target) ~ .content #contact-link,
.navdata:not(:has(:target)) ~ .content #work-link {
  color: #000;
}
