@import url('https://fonts.googleapis.com/css2?family=Marcellus:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body, button {
  font-family: 'Marcellus', sans-serif;
  background-color: #f4f0ec;
}

input, textarea, button {
  font-family: 'Marcellus', sans-serif;
  font-size: 1rem;
  border-radius: 6px;
  border: 2px solid #d0c0b0;
}

a {
  text-decoration: none;
}

a[target="_blank"] {
  text-decoration: underline;
}

a, a:visited {
  color: #6060ff;
}

summary {
  color: #6060ff;
  cursor: pointer;
}

a:hover, summary:hover {
  color: #a0a0ff;
}

div, main, footer, img, video, form {
  border-radius: 6px;
}

body>div {
  width: max(66%, 1024px);
  margin: 1em auto;
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: 1em;
}

body>div>:first-child {
  grid-column-end: span 2;
}

@media (max-width: 1023px) {
  body>div {
    width: 100%;
    grid-template-columns: 2fr 3fr;
  }
  .photo {
    order: -1;
  }
  body>div>:first-child {
    grid-column-end: span 1;
  }
  body>div>:last-child {
    grid-column-end: span 2;
  }
}

img {
  width: 100%;
}

main, form {
  padding: 1em;
  margin-bottom: 1em;
  background: linear-gradient(#ffffffff, #ffffffff);
}

main>:first-child, form>:first-child {
  margin-top: 0;
}

footer {
  background: linear-gradient(#ffffffff, #ffffffff);
  padding-top: 1em;
  display: flex;
  flex-direction: column;
}

footer p {
  margin: 0 1em 1em;
  font-style: italic;
}

h1, h2 {
  font-weight: normal;
}

h1 {
  margin: 0;
  font-size: 3em;
  letter-spacing: 2px;
}

h2 {
  font-size: 2em;
  margin: 1rem auto 1rem;
}

details {
  display: inline;
}

details[open] {
  margin-top: 1em;
}

details[open]>summary {
  margin-bottom: 1em;
}

details ul {
  font-style: italic;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  margin-right: 1em;
  margin-bottom: 1em;
}

strong {
  font-weight: normal;
  text-shadow: 1px 0px black;
}

strong a {
  text-shadow: 1px 0px #a0a0ff;
}

.two-panel {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

form>* {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

form>p {
  font-style: italic;
}

form>div {
  display: flex;
  gap: 1em;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 1023px) {
  form>div>* {
    width: 100%;
  }
}

form>div>input {
  flex: 1;
}

form>label {
  margin-top: 1em;
  margin-bottom: 1em;
}

input, textarea {
  padding: 6px 12px;
}

label {
  color: #a08060;
}

button {
  border: none;
  background-color: #504030;
  color: #ffffff;
  margin: 1em 0 0 auto;
  padding: .5em;
  width: 33%;
  text-shadow: 1px 0px white;
  cursor: pointer;
}

button:hover, button:focus {
  background-color: #a08060;
}
